*.sh.bak
*.h.bak
*.c.bak
*.cc.bak
*.cpp.bak
*.ecpp.bak
.*.swp
.*.swo
*.bnf
.#*
*~
*.pid
*.log

aclocal.m4
autom4te.cache
build-aux
config/
confdefs.h
config.log
config.status
conftest.*
configure
!configure.ac
.deps
.git_details
.git_details-fty-rest
.git_details.tmp
src/git_details_override.cc
include/git_details_override.h
.libs/
nbproject
libtool
lib*.a
lib*.la
lib*.so
lib*.so.*
INSTALL*.html
CONTRIB*.html
Makefile.in
Makefile
!Makefile.am
bios_web.la
fty-inventory
legacy-asset

*.o
*.lo

check-builddeps.py
bios-qa
Installation
ut_result.log

db_dump

.dirstamp
stamp-h1

.test.log
.test.trs
test-log.*
test-*.log
test-*.trs
make.log
make.output*
cppcheck.supp
cppcheck.xml

fty_rest_selftest
test-agents
test-api
test-cidr
test-csv
test-loadcsv
test-db2
test-log
test-subprocess
test-utils
test-utils-plusplus
test-utils-web
test-dbtopology
test-web
test-web-helpers
test-libbiosapiut
test-db-asset-crud
test-autoconfig
test-tntmlm
test-totalpower
agent-inventory
agent-autoconfig
generate_measurement
warranty-metric
bios-csv

tests/junit

var/

build/
build-*/

src/utils/messages/json_schemas.h
tools/bios-passwd
!tools/bios-passwd.in

src/web/src/auth_verify.cc
src/web/src/auth.cc
src/web/src/asset_GET.cc
src/web/src/asset_DELETE.cc
src/web/src/asset_POST.cc
src/web/src/asset_PUT.cc
src/web/src/asset_import.cc
src/web/src/assets_in.cc
src/web/src/average.cc
src/web/src/config.cc
src/web/src/json.cc
src/web/src/asset_list.cc
src/web/src/getlog_GET.cc
src/web/src/netcfg.cc
src/web/src/license.cc
src/web/src/license_status.cc
src/web/src/license_text.cc
src/web/src/license_POST.cc
src/web/src/time.cc
src/web/src/current.cc
src/web/src/datacenter_indicators.cc
src/web/src/topology_location_from.cc
src/web/src/topology_location_to.cc
src/web/src/topology_power.cc
src/web/src/rack_total.cc
src/web/src/sysinfo.cc
src/web/src/ssl_redirect.cc
src/web/src/uptime.cc
src/web/src/my_profile.cc
src/web/src/not_found.cc
src/web/src/asset_export.cc
src/web/src/admin_passwd.cc
src/web/src/admin_passwd.ecpp
!src/web/src/admin_passwd.ecpp.in
src/web/src/admin_iface.cc
src/web/src/admin_ifaces.cc
src/web/src/systemctl.cc
src/web/src/alert_rules_list.cc
src/web/src/alert_rules_detail.cc
src/web/src/alert_rules.cc
src/web/src/alert_ack.cc
src/web/src/alert_list.cc
src/web/src/admin_sse.cc
src/web/src/gpo_action.cc
src/web/src/email_feedback.cc
src/web/src/email_test.cc
src/web/src/email_vote.cc
src/web/src/input_power_chain.cc
src/web/src/info.cc
src/web/src/conf_scan.cc
src/web/src/scan_run.cc
src/web/src/scan_progress.cc
src/web/src/list_gpio.cc
src/web/src/add_gpio.cc
src/web/src/server_status.cc
src/web/src/security_headers.cc
src/web/src/topology_location_from2.cc
src/web/src/hw_capability.cc
src/web/src/security_removeheaders.cc
src/web/src/find_access_token.cc

tntnet.xml.example
!src/web/tntnet.xml
tntnet.xml

!src/agents

src/api/libbiosapi.pc
!src/api/libbiosapi.pc.in

# Generated by autoheader and further configure
src/platform.h.in
src/platform.h

# CMake cache
builds/cmake/
CMake*
*.cmake

# Travis deps
tmp/
cidr/
cxxtools/
czmq/
fty-proto/
libzmq/
malamute/
sodium/
libsodium/
tntdb/
tntnet/
magic/
fty-common/
log4cplus/

# At least at this time, we do not deliver files under "fty-rest" .deb
# It is a metapackage to satisfy simple installation of OS image with
# recipes that also fulfill legacy code wording
packaging/debian/fty-rest.install
packaging/debian/fty-rest.manpages

# Distcheck products under various possible names
libfty-rest-*.zip
libfty-rest-*.tar*
fty-rest-*.zip
fty-rest-*.tar*
