# You can add hand-written code here.

build/
ecpp/*.cpp

save.xml
# Object files
*.o
*.so
*.ko
*.pyc

# Libraries
*.lib
*.a
*.la
*.pc
*.dll.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so.*
*.dylib
*.lo

# Executables
*.exe
*.out
*.app
core

# autoconf files
.git_details*

# Repositories downloaded by CI integration scripts
tmp-deps/

# Travis build area
tmp/

# Valgrind files
callgrind*
vgcore*

# Vagrant files
.vagrant

# CLion / PyCharm
.idea

# GYP files
project.Makefile
*.target.mk
out/

# Android build results
builds/android/prefix

# Python build directory
build/

# MSVC build directories
obj/
bin/
*.tlog

# Qt
*pro.user
moc_*
build-*
bindings/qt/selftest/selftest

# Temporary files
*.swp
*.swo
*.bak
.test*
*.bnf
.#*
*.pid

# Netbeans directory
nbproject/

# editor backups
*~
