#
#    fty-rest - Common core REST API for 42ity project
# Note: this file is customized after zproject generation, be sure to keep it
#
#    Copyright (C) 2014 - 2018 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-rest
Section:        net
Priority:       optional
Maintainer:     fty-rest Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libcidr0-dev,
    libcxxtools-dev,
    libtntnet-dev,
    libtntdb-dev,
    libmagic-dev,
    liblog4cplus-dev,
    libfty-common-logging-dev,
    libfty-common-dev,
    libfty-common-db-dev,
    libfty-common-rest-dev,
    libsasl2-dev,
    libfty-proto-dev,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-rest1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fty-rest shared library
 This package contains shared library for fty-rest:
 common core rest api for 42ity project

Package: libfty-rest-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libcidr0-dev,
    libcxxtools-dev,
    libtntnet-dev,
    libtntdb-dev,
    libmagic-dev,
    liblog4cplus-dev,
    libfty-common-logging-dev,
    libfty-common-dev,
    libfty-common-db-dev,
    libfty-common-rest-dev,
    libsasl2-dev,
    libfty-proto-dev,
    libfty-rest1 (= ${binary:Version})
Description: fty-rest development tools
 This package contains development files for fty-rest:
 common core rest api for 42ity project

# Customization over zproject-generated code follows
# for the legacy-named metapackage to group the common
# installation dependency for other components:
Package: fty-rest
Architecture: any
Section: net
Priority: optional
Depends:
    libfty-rest1 (= ${binary:Version}),
    fty-rest-scripts (= ${binary:Version}),
    fty-rest-clients (= ${binary:Version}),
    ${misc:Depends},
    augeas-tools,
    tntdb-mysql4,
    libcidr0,
    tntnet-runtime,
    malamute,
    libsnmp30,
    cracklib-runtime,
    ipc-data
Recommends: msmtp, nut
Description: grouping of end-user solution with fty-rest
 This metapackage depends on actual packages needed to implement
 the core 42ity REST API with fty-rest for end-users of a product.

Package: fty-rest-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    fty-rest (= ${binary:Version}),
    ${misc:Depends}
Description: fty-rest debugging symbols
 This package contains the debugging symbols for fty-rest:
 common core rest api for 42ity project.

# Customization over zproject-generated code follows:
Package: fty-rest-scripts
Architecture: any
Section: net
Priority: optional
Depends:
    ${misc:Depends}
Description: helper scripts used by fty-rest
 This package contains helper scripts and data files used by
 the overall solution with fty-rest.

Package: fty-rest-clients
Architecture: any
Section: net
Priority: optional
Depends:
    libfty-rest1 (= ${binary:Version}),
    ${misc:Depends}, ${shlibs:Depends}
Description: binary programs using fty-rest elements
 This package contains binary programs that go along with fty-rest.
